/* .usuario {
} */

.user-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  max-width: var(--tamanho-tela);
  margin-inline: auto;
  margin-top: 2rem;
}

.usuario2 {
  display: flex;
}

.user-options {
  font-size: 18px;
  text-align: start;
}

.user-back {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-3);
  color: var(--purple-1);
  border-radius: 50%;
  cursor: pointer;
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user-informations {
  width: 700px;
  min-height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1rem 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.user-informations p {
  font-weight: bold;
}

.user-informations-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  background-color: var(--purple-5);
  color: var(--purple-1);
  height: 60px;
  padding: 1rem 0.5rem;
  text-align: center;
  border: none;
  border-radius: 8px;
  flex-direction: column;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;
}

.livrosadd {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.livros-add {
  width: 80%;
  display: flex;
  margin-top: 20px;
}

.ntb {
  width: 70%;
  padding: 10px;
  background: var(--purple-2);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.user-informations .input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  color: var(--purple-1);
}

.input-container textarea {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: var(--purple-4);
  border: 2px solid var(--purple-4);
  outline: none;
  resize: none;
  height: 150px;
}

.input-container textarea::placeholder {
  color: var(--purple-4);
}

.input-container textarea:focus {
  border: 2px solid var(--purple-2);
  color: var(--purple-2);
}

.input-container textarea:focus::placeholder {
  color: var(--purple-2);
}

.user-informations table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.user-informations th,
.user-informations td {
  padding: 0.5rem;
  text-align: left;
}

.user-informations th {
  color: white;
  text-transform: capitalize;
}

.user-informations tr:nth-child(even) {
  background-color: #ebebeb;
}

.user-informations tr:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.user-informations td {
  max-width: 500px;
  overflow: scroll;
  white-space: nowrap;
  padding: 10px;
  -ms-overflow-style: none;
}

.user-informations td::-webkit-scrollbar {
  display: none;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.user-informations th {
  padding-block: 1rem;
  padding-inline: 0.5rem;
  background-color: var(--purple-4);
}

.input-container input[type='file']::-webkit-file-upload-button {
  display: inline-block;
  background: var(--purple-2);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 12px;
  outline: none;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

.input-container input[type='file']::-webkit-file-upload-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .user-container {
    flex-direction: column;
  }
}
