.footer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.footer-informations {
  padding: 1rem;
  background-color: var(--gray-4);
}

.footer-informations-container {
  max-width: var(--tamanho-tela);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-column > p {
  color: var(--gray-1);
  text-transform: uppercase;
  font-weight: bold;
}

.footer-column-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-column-info a {
  color: var(--gray-1);
}

.footer-column-info a:hover {
  opacity: 0.4;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--purple-3);
  padding: 0.8rem;
  border-radius: 50%;
}

.footer-social a:hover {
  opacity: 0.4;
}

.footer-rights {
  display: flex;
  background-color: var(--purple-3);
  align-items: center;
  justify-content: center;
  color: var(--purple-1);
  padding-block: 0.5rem;
}

@media screen and (max-width: 600px) {
  .footer-informations-container {
    flex-direction: column;
    max-width: 200px;
    gap: 1.5rem;
    padding-block: 1rem;
  }

  .footer-rights p {
    font-size: 10px;
  }
}