/* .header {
  position: fixed;
  top: 0;
  width: 100%;
} */

.header-top {
  color: var(--yellow-1);
  background-color: var(--yellow-2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
}

.icon {
  color: var(--purple-3);
}

.header-mid-container {
  max-width: var(--tamanho-tela);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mid {
  padding-block: 1rem;
  background-color: var(--gray-4);
}

.input-container {
  display: flex;
  gap: 0.5rem;
}

.input-container input {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: var(--purple-4);
  border: 2px solid var(--purple-4);
  outline: none;
}

.input-container input::placeholder {
  color: var(--purple-4);
}

.input-container input:focus {
  border: 2px solid var(--purple-2);
  color: var(--purple-2);
}

.input-container input:focus::placeholder {
  color: var(--purple-2);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-logo p {
  font-family: Rosario, Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  color: var(--gray-1);
}

.header-buttons {
  display: flex;
  gap: 0.5rem;
  /* position: relative; */
}

.button {
  border-radius: 10px;
  background-color: var(--purple-2);
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 500ms;
}

.button:hover {
  opacity: 0.8;
}

.header-bottom {
  background-color: var(--purple-5);
}

.header-bottom-container {
  margin-inline: auto;
  display: flex;
  max-width: var(--tamanho-tela);
}

.dropdown {
  position: relative;
  color: var(--purple-1);
}

.navigation-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: var(--purple-5);
  padding: 0.8rem 0.5rem;
  color: var(--purple-1);
}

.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  background-color: var(--purple-5);
  padding: 1rem;
  width: 100%;
  gap: 0.5rem;
  border-radius: 0px 0px 16px 16px;
  /* border-top: 2px solid var(--purple-1); */
}

.dropdown-menu-option {
  padding: 0.25rem;
  cursor: pointer;
  color: var(--purple-1);
}

.dropdown-menu-option:hover {
  opacity: 0.4;
}
