.header {
  position: fixed;
  width: 100%;
}

.header-top {
  color: var(--yellow-1);
  background-color: var(--yellow-2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: .5rem;
}

.logo p {
  font-family: Rosario, Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  color: var(--gray-1);
}

.icon {
  color: var(--purple-3);
}

.header-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  max-width: var(--tamanho-tela);
  margin-inline: auto;
}

.input-container {
  display: flex;
  gap: .5rem;
}

.input-container input {
  border-radius: 10px;
  padding: .5rem 1rem;
  color: var(--purple-4);
  border: 2px solid var(--purple-4);
  outline: none;
}

.input-container input::placeholder {
  color: var(--purple-4);
}

.input-container input:focus {
  border: 2px solid var(--green-1);
  color: var(--green-1);
}

.input-container input:focus::placeholder {
  color: var(--green-1);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.header-buttons {
  display: flex;
  gap: .5rem;
}

.button {
  border-radius: 10px;
  background-color: var(--purple-2);
  padding: .5rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 500ms;
}

.button:hover {
  opacity: .8;
}