@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.hero {
  max-width: calc(var(--tamanho-tela) + 185px);
  margin: 4rem auto;
  padding-inline: 1rem;
}

.hero-container {
  --border-radius: 2rem;

  color: white;

  height: 511.68px;
  background: url('../assets/background/library.png');
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  position: relative;
  z-index: -1;
}

.hero-container::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
}

.hero-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 0.5rem; */
  font-family: Rosario, Arial, Helvetica, sans-serif;
}

.hero-logo p {
  font-weight: bold;
  font-size: 32px;
}

.hero-logo span {
  font-size: 20px;
}

.hero-slogan {
  font-family: Julius Sans One, Arial, Helvetica, sans-serif;
  font-size: 40px;
  width: 372px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .hero-slogan {
    font-size: 25px;
    text-wrap: wrap;
    width: auto;
  }
}