.livro {
  padding-top: 2rem;
}

.info-container {
  max-width: var(--tamanho-tela);
  margin-inline: auto;
  display: flex;
  gap: 2rem;
}

.book-info {
  display: flex;
  gap: 2rem;
  border: 1px solid var(--gray-3);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.book-image {
  height: 308px;
  width: 205px;
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.book-details-title {
  font-size: 2rem;
}

.book-details-rate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.book-details-rate-amount {
  color: var(--gray-2);
}

.book-details-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.book-details-description p {
  font-size: 12px;
  text-align: justify;
}

.purchase-info {
  display: flex;
  gap: 2rem;
  border: 1px solid var(--gray-3);
  padding: 1rem 2rem;
  border-radius: 1rem;
  height: max-content;
  flex-direction: column;
}

.purchase-price {
  display: flex;
  flex-direction: column;
}

.purchase-price-discount {
  width: max-content;
  font-size: 16px;
  color: var(--red-2);
  text-transform: uppercase;
}

.purchase-price-discount-percent {
  font-size: 24px;
}
.purchase-price-promotion {
  width: max-content;
  font-size: 32px;
}

.purchase-price-original {
  width: max-content;
  color: var(--gray-1);
}

.purchase-price-original-amount {
  text-decoration: line-through;
}

.purchase-shipping-estimated {
  width: max-content;
  font-size: 15px;
}

.purchase-shipping-radius {
  width: fit-content;
  color: var(--green-1);
  background-color: var(--green-2);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.purchase-amount {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.purchase-amount input {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--gray-3);
}

.purchase-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.purchase-button {
  padding: 1rem;
  background-color: var(--purple-2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.bg--purple-3 {
  background-color: var(--purple-3);
}

.purchase-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 910px) {
  .info-container {
    flex-direction: column;
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .book-info {
    flex-direction: column;
    align-items: center;
  }

  .book-details-title {
    font-size: 24px;
  }

  .book-details-rate-stars img {
    width: 20px;
  }

  .purchase-shipping-estimated {
    text-wrap: wrap;
    width: 100%;
  }
}
