@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;

  /* Julius Sans One */
}

:root {
  /* Cores */
  --purple-1: #180047;
  --purple-2: #5D17EB;
  --purple-3: #A782F1;
  --purple-4: #A094BA;

  --gray-1: #313131;
  --gray-2: #838383;
  --gray-3: #D4D4D4;
  --gray-4: #DFDFDF;

  --yellow-1: #848B00;
  --yellow-2: #FFFAB3;

  --green-1: #94BAA2;

  /* Configurações */
  --tamanho-tela: 1080px;
}